<h1 class="text-center">Map Generator</h1>

{{#paper-select placeholder="Size" model=size value=size.name}}
  {{#each sizes as |size|}}
    {{#paper-option value=size}}
      {{size.name}}
    {{/paper-option}}
  {{/each}}
{{/paper-select}}

<div class="text-center">
  {{#paper-button raised=true action="generateMap"}}generate{{/paper-button}}
</div>
