<h1 class="text-center">Play</h1>

{{#each maps key=@index as |map|}}
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        {{#paper-button raised=true action="load" param=map}}
          {{map.name}} {{map.hexes.length}}
        {{/paper-button}}
      </div>
      <div class="text-center">
        {{#unless map.isDefault}}
          {{#paper-button warn=true action="remove" param=map}}
            Delete
          {{/paper-button}}
        {{/unless}}
      </div>
    </div>
  </div>
{{/each}}