<h1>Map Screen</h1>

{{#unless loading}}
  {{map-selector
    maps=model
    clickMap=(action 'clickMap')
    clickRemoveMap=(action 'clickRemoveMap')
  }}
{{else}}
  <h3>Loading map</h3>
{{/unless}}

{{#if showMap}}
  {{hex-map model=map}}
{{/if}}