{{#if loading}}
  <h1 class="text-center">Loading</h1>
{{else}}
  {{#if showMap}}
    {{hex-map model=map}}
  {{else}}
    {{map-selector
      maps=model
      renderMap='renderMap'
      removeMap='removeMap'
    }}
  {{/if}}
{{/if}}

