{{#if loading}}
  <h3>Loading map</h3>
{{else}}
  {{#if showMap}}
    {{hex-map model=map}}
  {{else}}
    {{map-selector
      maps=model
      renderMap='renderMap'
      removeMap='removeMap'
    }}
  {{/if}}
{{/if}}

