<div class='container'>
  <div class='col-sm-12'>
    <h1 id="title">Hex title</h1>
    {{#link-to 'index'}}index{{/link-to}}
    {{#link-to 'map'}}map{{/link-to}}
    {{#link-to 'user'}}user{{/link-to}}
    {{#link-to 'map-generator'}}map generator{{/link-to}}

    {{outlet}}
  </div>
</div>
