{{#if showNav}}
  <div class="container">
    {{#paper-button action="goToRoute" param="map"}}
      Play
    {{/paper-button}}
    {{#paper-button action="goToRoute" param="map-generator"}}
      Generate
    {{/paper-button}}
    {{#paper-button action="goToRoute" param="settings"}}
      Settings
    {{/paper-button}}

    {{outlet}}
  </div>
{{else}}
  <div class="navbar navbar-default navbar-fixed-top">
    {{#paper-button raised=true action="goBack"}}Back{{/paper-button}}
  </div>
  <div style="padding-top: 50px;">
  {{outlet}}
  </div>
{{/if}}