<h2 id="title">Hex title</h2>
{{#link-to 'index'}}index{{/link-to}}
{{#link-to 'map'}}map{{/link-to}}
{{#link-to 'user'}}user{{/link-to}}
{{#link-to 'map-generator'}}map generator{{/link-to}}

{{outlet}}
