{{#if showNav}}
  <div class="container">
    {{#link-to 'index'}}index{{/link-to}}
    {{#link-to 'map'}}map{{/link-to}}
    {{#link-to 'map-generator'}}map generator{{/link-to}}

    {{outlet}}
  </div>
{{else}}
  <div class="navbar navbar-default navbar-fixed-top">
    {{#paper-button raised=true action="goBack"}}Back{{/paper-button}}
  </div>
  <div style="padding-top: 50px;">
  {{outlet}}
  </div>
{{/if}}